@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600,800&display=swap");
body { color: #494c5f; font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 700; }

.pricing-component { -webkit-box-align: center; align-items: center; display: -webkit-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; width: 100%; }

.pricing-component h1 { font-size: 2em; margin: 24px 0; }

.pricing-component--selector { margin: 24px 0; color: #6d708d; font-size: 1em; }

.pricing-component--table { display: -webkit-box; display: flex; margin: 24px 0; }

.pricing-component--card { background: #fff; border-radius: 12px; box-shadow: 0 0 16px #6d708d; padding: 24px; text-align: center; }

.pricing-component--card h2 { font-size: 0.8em; }

.pricing-component--card_price { display: none; font-size: 3.5em; font-weight: 600; }

.pricing-component--card_price.show { display: block; }

.pricing-component--card_feature { border-bottom: 1px solid #6d708d; padding: 16px; font-size: 0.8em; }
