@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,800&display=swap');
$color-primary: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
$color-primary-lite: linear-gradient(90deg, hsla(236, 72%, 79%, 0.8) 0%, hsla(237, 63%, 64%, 0.8) 100%);
$color-text-lite: hsla(240, 9%, 71%, 1.00);
$color-text-dark: hsla(230, 12%, 51%, 1.00);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;

  background-color: hsla(233, 100%, 98%, 1.00);
  background-image: url(../img/bg-top.svg), url(../img/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: auto 75vh, auto 38vh;
  color: $color-text-dark;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  @media (max-width: 768px) {
    background-attachment: fixed;
    background-image: url(../img/bg-top.svg);
    background-position: top right;
  }
}

button { // Resets default button appearance
  border: none;
  padding: 0;

  background: none;
  color: inherit;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.pricing-component {
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;

  display: flex;
  padding-top: 4.5rem;
  width: 100%;

  h1 {
    margin: 24px 0;

    font-size: 2rem;
    font-weight: 600;
  }

  &--selector {
    align-items: center;
    display: flex;
    margin: 0.75rem 0;

    color: $color-text-lite;

    font-size: 0.8em;
    font-weight: 600;

    input[type="checkbox"] {
      display: none;

      & + label {
        position: relative;

        border-radius: 99px;
        display: inline-block;
        height: 30px;
        margin: 0 12px;
        width: 52px;

        background: $color-primary;

        transition: all 0.2s ease;

        i {
          border-radius: 99px;
          display: inline-block;
          left: 4px;
          position: absolute;
          top: 4px;
          transition: all 200ms ease;

          height: 22px;
          width: 22px;

          background: #fff;
        }

        &:before {
          display: inline-block;
          height: 100%;
          width: 50%;
        }

        &:after {
          display: inline-block;
          height: 100%;
          width: 50%;
        }

        &:hover {
          background: $color-primary-lite;
          cursor: pointer;
        }
      }

      &:checked + label {

        i {
          left: 50%;
        }
      }
    }
  }

  &--table {
    align-items: center;

    display: flex;
    margin: 3rem 0;
    padding: 0 24px;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &--card {
    border-radius: 6px;
    box-shadow: 0 0 16px #eeecf8;
    margin-bottom: 24px;
    padding: 1.5rem 2rem;

    background: #fff;

    text-align: center;

    @media (max-width: 768px) {
      max-width: 512px;
      width: 100%;
    }

    h1 {
      font-size: 1rem;
      font-weight: 500;
      margin: 1rem 0 2rem 0;
    }

    button {
      border: 1px solid rgba(0,0,0,0);
      border-radius: 0.5rem;
      box-sizing: border-box;
      display: block;
      margin: 0;
      padding: .75rem;
      width: 100%;

      background: $color-primary;
      color: #fff;

      letter-spacing: 1px;
      font-weight: 600;
      font-size: 0.7em;
      text-transform: uppercase;

      transition: all 200ms ease;

      &:hover {
        background: rgba(0,0,0,0);
        border: 1px solid #6b67c7;
        color: #6b67c7;
      }
    }

    &_price {
      display: none;
      margin: 0;
      padding: 0;

      font-size: 3.5rem;
      font-weight: 600;

      &.show {
        display: block;
      }
    }

    .feature-list {
      list-style: none;
      margin: 2rem 0 1.5rem 0;
      padding: 0;

      .feature {
        border-bottom: 1px solid #ccc;
        padding: 12px;

        font-size: 0.8em;
        font-weight: 400;

        &:first-child {
          border-top: 1px solid #ccc;
        }
      }
    }

    &:nth-child(2) {
      z-index: 2;

      padding: 2.4rem 1.5rem;

      background: $color-primary;
      color: #fff;

      button {
        background: #fff;
        border: 1px solid #fff;
        color: #6b67c7;

        &:hover {
          background: rgba(0,0,0,0);
          border: 1px solid #fff;
          color: #fff;
        }
      }
    }
  }
}
