@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$color-primary: linear-gradient(90deg, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
$color-text-lite: hsl(233, 13%, 49%);
$color-text-dark: hsl(232, 13%, 33%);


body {
  color: $color-text-dark;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.packages {
  display: flex;

  .pkg-card {
    text-align: center;
  }
}
